html,
body,
#maindiv{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app {
    height: 100%;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

.title{
    background-color : #36393F;
    color : #A61011;
    width : 100%;
    height : auto;
}

h1, h2, h3, h4, h5{
    color: #df4540;
    padding: 5px;
    margin-bottom: 0;
}

#strategie-network {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

#attributs {
    font: 15px arial, sans-serif;
    overflow-y: scroll;
    margin-top: 10px;
}
#attributs button{
    outline: none;
}

.attributeButton{
    background: #9c9c9c;
    width: 80%;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin: 10px auto 10px auto;
    display: block;
}

.attributeButton:hover{
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.2),
                0 0 0 2px rgba(0, 255, 0, 0.18);
}

#boutonAnnulerSupposition{
    border:none;
    border-radius: 5px;
    display:inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align:middle;
    background-color: rgba(255, 0, 0, 0.69);
    color: white;
    text-align:center;
    width: 90%;
    position: absolute;
    bottom: 5px;
}

.btnInactif{
    opacity: 0.5;
}

.btnInactif:hover{

}

#boutonAnnulerSupposition.btnInactif{
    background-color: rgba(0, 0, 0, 0.69);
}

.btnActif{
    opacity: 1.0;
}

.btnActif:hover{

}

#boutonAnnulerSupposition.btnActif:hover{
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.2),
    0 0 0 2px rgba(255, 0, 0, 0.18);
}

/*Menu contextuel*/
/* Optionally define a fixed width for menus */
.ui-menu {
    width: 250px;
}
/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd {
    padding-left: 1em;
    float: right;
}

/* Define a custom icon */
.ui-icon.custom-icon-firefox {
    background-image: url("http://raw.githubusercontent.com/mar10/jquery-ui-contextmenu/master/demo/application_firefox.gif");
    background-position: 0 0;
}

.button {
    border-radius : 10px;
    background-color: #0C1021;/*#36393F;*/
    color : #df4540;
    font-weight: bold;
    display: inline-block;
    border : 2px solid #df4540;
    padding: 5px;
}

.button:hover{
    color : white;
    border-color : white;
}

#appTable{
    border : 3px solid #36393F;
    height : 100%;
    width : 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.appTd{
    border : 3px solid #36393F;
    overflow: hidden;
    padding : 0;
}

.content{
    width : 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.appLeft{
    height: 100%;
}

.appRight{
    height: 50%;
}

#informations, #informations pre{
    background-color: #0C1021;
    color : white;
}

#informations span{
    display : none;
}
