html,
body,
.app {
    height: 100%;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

.top {
    height: 70%;
}

.bottom {
    height: 30%;
}

.attributs,
.population,
.informations {
    min-height: 100%;
    overflow-y: auto;
    padding-bottom: 10px;
}

.strategie {
    padding-bottom: 10px;
    min-height: 100%;
    border-bottom: 1px solid #000;
}

.attributs {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.informations {
    border-left: 1px solid #000;
}

.title {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

h3 {
    color: #df4540;
}

.content {
    padding-top: 41px;
    height: 100%;
}

#mynetwork {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}