html,
body,
#maindiv{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app {
    height: 100%;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

.top {
    height: 50%;
}

.bottom {
    height: 50%;
}

.informations {
    min-height: 100%;
    overflow-y: auto;
    padding-bottom: 10px;
}

.population {
    height : 100%;
    width : 100%;
    overflow: hidden;
    padding-bottom: 0px;
    padding-right: 0px;
    background-color: #36393F;
}

#informations{
    overflow-y: scroll;
}

.strategie {
    padding-bottom: 10px;
    min-height: 100%;
    border-bottom: 1px solid #000;
}

.attributs {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.informations {
    border-left: 1px solid #000;
}

.title {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

h3, h4, h5{
    color: #df4540;
}

.content {
    padding-top: 41px;
    height: 100%;
}

#strategie-network {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

#attributs {
    font: 15px arial, sans-serif;
    overflow-y: scroll;
    margin-top: 10px;
}
#attributs button{
    outline: none;
}

.attributeButton{
    background: #9c9c9c;
    width: 80%;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin: 10px auto 10px auto;
    display: block;
}

.attributeButton:hover{
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.2),
                0 0 0 2px rgba(0, 255, 0, 0.18);
}

/*perso image*/
#population{
    width : 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color : #0C1021;
}

#tableChar{
    margin : 10px auto;
    padding : 0px;
    border-style : none;
}

#population figure {
    border : 3px solid grey;
    border-radius : 40px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding : 0;
    display:inline-block;
}
#population img, #population figcaption {
    transition: all .25s ease;
    border-radius : 35px;
}
#population figcaption {
    text-align : center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}
#population figcaption p, #population figcaption h3{
    margin : 0;
}
#population figure:hover img {
    transform: scale(0.9);
}
#population figure:hover figcaption {
    opacity: 1;
}
.charElem {
    padding: 0;
    border-collapse : collapse;
//display : unset;
}

#PopulationConteneur{
    width : 100%;
    height : 100%;
    overflow : hidden;
}
#PopTitle{
    background-color : #36393F;
    color : #A61011;
    width : 100%;
    height : auto;
}

#PopTitle table{
    width : 100%;
    table-layout: fixed;
}
/*perso image FIN*/

/*infobulle*/
.tooltype {
    position:absolute;
    max-height : 200px;
    max-width : 150px;
    overflow-y : auto;
    overflow-x : hidden;
    display:inline;
    background-color : #0C1021;
    border : 3px solid #df4540;
    border-radius : 10px;
    color : white;
    visibility : hidden;
    padding : 5px;
    font-size: 12px;
}

.arrow{
    display: inline;
    position: absolute;
    border: 7px solid transparent;
    border-top: 7px solid #df4540;
    visibility : hidden;
}

.overarea{
    display: inline;
    position: absolute;
}
/*infobulle FIN*/

#boutonAnnulerSupposition{
    border:none;
    border-radius: 5px;
    display:inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align:middle;
    background-color: rgba(255, 0, 0, 0.69);
    color: white;
    text-align:center;
    width: 90%;
    position: absolute;
    bottom: 5px;
}


.btnInactif{
    opacity: 0.5;
}

.btnInactif:hover{

}

#boutonAnnulerSupposition.btnInactif{
    background-color: rgba(0, 0, 0, 0.69);
}

.btnActif{
    opacity: 1.0;
}

.btnActif:hover{

}

#boutonAnnulerSupposition.btnActif:hover{
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.2),
    0 0 0 2px rgba(255, 0, 0, 0.18);
}

/*Bannière*/
.banniere img{
    border : none;
    max-width : 70%;
    max-height: 50px;
}

#menu li:hover ul{
    max-height:30em;
    padding : 8px;
}

.banniere {
    text-align: center;
    background-color: black;
    color : white;
}
#menu {
    padding:10px;
    font-family : 'garamond', sans-serif;
}
#menu, #menu ul{
    margin:0;
    list-style:none;
    text-align:center;
    background-color: black;
}

#menu ul{
    padding:0;
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .500ms;
    -webkit-transition: .8s all .500ms;
    transition: .8s all .500ms;
    border-radius : 0 0 8px 8px;
}

#menu ul li{
    display:inherit;
    border-radius:0;
}
#menu li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
}
#menu h5{
    text-decoration:none;
    display:block;
    padding:0 32px;
}
#menu ul li span{
    padding:8px 0;
}
#menu li:hover li span{
    color:#fff;
    text-transform:inherit;
}
#menu li:hover span, #menu li li:hover span{
    color: grey;
}
#sousmenu {
    padding : 10px;
}
/*Bannière FIN*/

/*Menu contextuel*/
/* Optionally define a fixed width for menus */
.ui-menu {
    width: 250px;
}
/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd {
    padding-left: 1em;
    float: right;
}

/* Define a custom icon */
.ui-icon.custom-icon-firefox {
    background-image: url("http://raw.githubusercontent.com/mar10/jquery-ui-contextmenu/master/demo/application_firefox.gif");
    background-position: 0 0;
}
