#pop_creator{
    width : 100%;
}

#pop_crea_title{
    text-align: center;
    padding-bottom: 5px;
}

#pop_creator_content{
    padding: 0 10%;
}

#popCreatorOption{
    margin : auto;
}

.popCreatorOptionCell{
    padding : 5px 20px;
}