/*perso image*/
#population{
    background-color : #0C1021;
}

.tableChar{
    margin : 5px auto;
    padding : 0px;
    border-style : none;
}

.tableChar figure {
    border : 3px solid grey;
    border-radius : 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding : 0;
    display:inline-block;
}

.tableChar img{
    max-width: 125px;
    max-height: 125px;
}

.tableChar img, .tableChar figcaption {
    transition: all .25s ease;
    border-radius : 25px;
}

.tableChar figcaption {
    text-align : center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}

.tableChar figcaption p, .tableChar figcaption h3{
    margin : 0;
}

.tableChar figure:hover img {
    transform: scale(0.9);
}

.tableChar figure:hover figcaption {
    opacity: 1;
}

.charElem {
    padding: 0;
    border-collapse : collapse;
    display : inline-flex;
    margin : 0 2px 2px;
}

#PopulationConteneur{
    width : 100%;
    height : 100%;
    overflow : hidden;
}

#PopTitle table{
    width : 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border : 0;
}

#PopTitle td {
    border : 0;
}

.tableChar td {
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}

.charstatus{
    font-size : 14px;
    font-weight: initial;
    line-height: 14px;
}